* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: rgb(65, 65, 65);
    margin-bottom: 50px;
    margin-top: 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto auto;
    padding: 0 30px;
}

/* navbar */
    /* standard styling */
    .navbar {
        color: rgb(65, 65, 65);
        background-color: antiquewhite;
        height: 80px;
        box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 15%);
        position: fixed;
        top: 0;
        width: 100%;
    }

    .navbar .home {
        font-weight: bold;
        font-size: 20px;
    }

    .navbar a {
        color: rgb(128, 128, 128);
        text-decoration: none; /*removes link underline*/
        font-size: 18px;
        font-weight: bold;
    }
    .navbar a:hover {
        color: lightblue;
        box-shadow: 0 1px gray;
    }

    /* flexbox */
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
        color: white;
    }

    .navbar li {
        margin-left: 20px;
    }

/* sticky navigation
    #sticky-nav {
        position: sticky;
        top: 100px;
        margin-left: ;
    }

    #sticky-nav ul {
        list-style-type: none;
    }

    #sticky-nav a {
        color: rgb(128, 128, 128);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    } */

/* content */
    /* standard styling */
    section {
        margin-top: 20px;
    }

    p, ul, ol {
        padding: 0 50px;
    }

    ul, ol {
        padding-left: 90px;
    }

    h2 {
        padding-bottom: 10px;
        margin-top: 20px;
    }

    img {
        display: block;
        margin: 20px auto;
    }

/* introduction */
    #introduction h1 {
        font-size: 35px;
    }
    .title {
        text-align: center;
    }

    #introduction .container a {
        display: flex;
        justify-content: center;
        color: blue;
    }
    #introduction .container a:hover {
        color: lightblue;
    }


/* recipe */
    #recipe h1 {
        text-align: center;
        font-size: 30px;
    }

    #recipe img {
        max-width: 400px;
        margin: 20px 0;
    }

    #recipe .ingredients div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #recipe .container .ingredients {
        margin: 0 150px;
        display: flex;
        justify-content: space-evenly;
        background-color: lightyellow;
    }

    #recipe .container .ingredients h2 {
        padding-left: 50px;
    }